/* Will be compiled down to a single stylesheet with your sass files */

#change_photo
{
    font-size: 13px;
    margin-left : 5px;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.main-content {
    width: 90%;
    margin: 0 auto;
    min-height: 82%;
}

.photo-thumbnail {
    margin-bottom: 20px;
    height: 200px;
    line-height:200px;
    background: #eee;
    border: #999 1px solid;
    text-align: center;
    img {
        max-height: 180px;
        vertical-align: middle;
    }
}

.display-image {
    text-align: center;
    height: 450px;
    line-height: 450px;
    background: #ddd;
    border: #999;
    img {
        max-height: 450px;
        vertical-align: middle;
    }
}
.album-thumbnail {
    margin-bottom: 20px;
    height: 200px;
    background: #eee;
    border: #999 1px solid;
    text-align: center;
    .album-name {
        color: #000;
        font-weight: bold;
    }
    .album-cover {
        line-height:180px;
        img {
            max-height: 180px;
            vertical-align: middle;
        }
    }
}

.top-navbar {
    padding-left: 130px;
    padding-top: 20px;
    border: 0;
    background: #fff;
    ul.nav {
        li {
            a {
                color: #000;
                &:hover {
                    color: #999;
                }
            }
        }
    }
}

#fos_user_registration_form {
    select {
        width: auto;
        margin-right: 20px;
    }
}

.error_logo {
    text-align: center;
}