[submodule "BootstrapBundle"]
	path = vendor/braincrafted/bootstrap-bundle/Bc/Bundle/BootstrapBundle/
	url = git://github.com/braincrafted/bootstrap-bundle.git
[submodule "bootstrap-bundle"]
	path = bootstrap-bundle
	url = git://github.com/braincrafted/bootstrap-bundle.git
