{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>Créer un album</h2>

        <form action="{{ path('etna_social_com_status') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" value="Uploader fichier" />
        </form>
    </div>
</div>
{% endblock body %}
