{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    An Error Occurred: {{ status_text }}
{% endblock %}

{% block body %}
    <div class="error_logo">
        <img src="{{ asset('img/404.gif') }}" />
    </div>
{% endblock%}