{% extends '::social.html.twig' %}

{% block title %}
    Modifier son compte - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="container row-fluid well span3">
            <h3> Modifier son compte :</h3>
            <hr>
            <form class="offset4" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary" />
            </form>
            <a href="{{ path('etna_social_profil_mdp',{'username': username}) }}"> Modifier son mot de passe </a>
        </div>
    </div>

{% endblock%}