{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container-fluid">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}