<form action="{{ path('etna_social_ecrire_message', {'username' : app.user.username}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input class="btn btn-small" type="submit" value="Ecrire"/>
</form>