{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}2SN Home{% endblock %}

{% block body %}
	<h1 class="alert alert-info" >Hello {{ prenom }}</h1>
{% endblock body %}
