{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mes messages{% endblock %}

{% block body %}
    <div class="bs-docs-example">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Écrire</a></li>
                <li><a href="#lB" data-toggle="tab">Reçus</a></li>
                <li><a href="#lC" data-toggle="tab">Envoyés</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="lA">
                    {% render controller('EtnaSocialBundle:Message:new', {'url' : app.request.pathInfo})  %}
                </div>
                <div class="tab-pane" id="lB">
                    <p>Recus</p>
                </div>
                <div class="tab-pane" id="lC">
                    <p>Envoyés</p>
                </div>
            </div>
        </div> <!-- /tabbable -->
    </div>
{% endblock body %}