{% extends '::base2sn.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% if name %}
<table class="table table-bordered">
	<tr>
		<th>Hello</th><th>{{ name }}</th>
	</tr>
</table>
{% else %}
	<p>Pas trouvé</p>
	{% endif %}
{% endblock %}
